html, body {
	height: 100%;
	background: black;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	position: fixed;
	opacity: 0;
}
canvas {
	position: fixed;
}