@font-face {
	font-family: 'Fixedsys';
	src: url('Fixedsys.ttf');
}
@font-face {
	font-family: 'ChicagoFLF';
	src: url('ChicagoFLF.ttf');
}
@font-face {
	font-family: 'Tungsten';
	src: url('Tungsten-Semibold.otf');
}